.THIS {
    background-color: yellow;
}
.THIS .red {
	background-color: red;
}
.THIS .blue {
	background-color: blue;
}
.THIS .green {
	background-color: green;
}
.THIS#gray {
	background-color: grey;
}